section {
  padding: 0;
  margin: auto;
  overflow: auto;
  min-width: 400px;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
}

.submit {
  margin: auto;
  padding: 10px;
}

.form label {
  width: 30%;
  float: left;
  text-align: right;
}

.form input {
  width: 42%;
  margin-left: 10px;
  float: left;
}

.form select {
  width: 42%;
  margin-left: 10px;
  float: left;
}
